//gradientsFont
$gradientsFont-level: 0 !default;
$gradientsFont-small-font-size: 14px !default;
$gradientsFont-normal-font-size: 20px !default;
$gradientsFont-large-font-size: 24px !default;
$gradientsFont-title-font-size: 34px !default;
$gradientsFont-font-weight: 600 !default;
